/* Your styles should be mobile-first and responsive */

/** 
  * If you are unclear on how to utilize a mobile-first, responsive technique to write your CSS, here is an example: 
  *
  * https://github.com/andreacardybailey/responsive_example/blob/master/styles/responsive-base.css 
  *
*/

/*Custom font*/
@font-face{font-family: 'Rough Typewriter'; src:url(rough_typewriter.otf);}

/* Body Format */
body{
  background-color: #88BDBC;
  margin: auto;
  max-width: 700px;
  padding: 15px;
}

/* Format of text */
h1{
  color: #fff;
  font-family: 'Rough Typewriter';
}

h2, h3, h4, p, .button-label {
  color: #112D32;
  font-family: 'Rough Typewriter';
}
p{
  font-size: 20px;
}

/* format of elements imgs, buttons */
img {
  border: 4px solid #254E58;
  width: 100%;
}
button{
  border: 2px solid #112D32;
  border-radius: 15px;
  background-color: lightgray;
  padding: 3px;
  margin: 8px 0 0 0;
}

button:hover{
  cursor: pointer;
  background-color: #fff;
}

/* format of divs */
.container label{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: #112D32;
}
.group {
  display: flex;
  flex-direction: column;
}

.item {
  display: flex;
  margin: 10px;
}

.container {
  width: 100%;
  border: 3px solid #254E58;
  padding: 10px;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
}

.noBorder{
  width: 95%;
  margin: auto;
}

.noBorder img{
  width:100%;
}

/* formatting for desktop view */
@media all and (min-width:800px){
  .container{
    flex-direction: column;
    justify-content: space-between;
  }

  .group{
    flex-direction: row;
    justify-content: space-between;
  }
}