/* Your styles should be mobile-first and responsive */

/** 
  * If you are unclear on how to utilize a mobile-first, responsive technique to write your CSS, here is an example: 
  *
  * https://github.com/andreacardybailey/responsive_example/blob/master/styles/responsive-base.css 
  *
*/
img {
  height: 350px;
}

button:hover{
  cursor: pointer;
}

.container {
  max-width: 500px;
  border: 2px solid #000;
  padding: 10px;
}

button {
  padding: 3px;
  margin: 8px 0 0 0;
}